<!DOCTYPE html>
<html>

<head>
    <title>DreamNest App - Lobby</title>
    <meta charset="utf-8" />
    <meta name="og:title" content="DreamNest App">
    <meta name="twitter:title" content="DreamNest App">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description"
        content="DreamNest is revolutionizing the real estate industry by providing immersive VR experiences for home buyers and sellers. Our mission is to make house hunting more efficient, enjoyable, and accessible for everyone.">
    <meta name="og:description"
        content="DreamNest is revolutionizing the real estate industry by providing immersive VR experiences for home buyers and sellers. Our mission is to make house hunting more efficient, enjoyable, and accessible for everyone.">
    <meta name="twitter:description"
        content="DreamNest is revolutionizing the real estate industry by providing immersive VR experiences for home buyers and sellers. Our mission is to make house hunting more efficient, enjoyable, and accessible for everyone.">
    <meta name="twitter:card" content="summary">

    <meta property="og:image" content="public/icons/banner_610_210.png">
    <meta property="twitter:image" content="public/icons/banner_610_210.png">

    <link rel="shortcut icon" href="public/icons/favicon/favicon.ico" type="image/x-icon">
    <script src="https://aframe.io/releases/1.6.0/aframe.min.js"></script>
    <!-- https://github.com/c-frame/aframe-extras -->
    <!-- usefull for checkpoint and controls  -->
    <script src="https://cdn.jsdelivr.net/gh/c-frame/aframe-extras@7.4.0/dist/aframe-extras.min.js"></script>
    <!-- https://github.com/supermedium/superframe/tree/master/components/template/ -->
    <script src="https://unpkg.com/aframe-template-component@3.2.1/dist/aframe-template-component.min.js"></script>
    <!-- https://github.com/supermedium/aframe-super-keyboard -->
    <script src="https://unpkg.com/aframe-super-keyboard@1.0.0/dist/aframe-super-keyboard.min.js"></script>
    <!-- https://diarmidmackenzie.github.io/aframe-components/components/label/ -->
    <script src="https://cdn.jsdelivr.net/npm/aframe-label@0.1.0/index.min.js"></script>
    <!-- https://github.com/supermedium/superframe/tree/master/components/state/ -->
    <script src="https://unpkg.com/aframe-state-component@7.1.0/dist/aframe-state-component.min.js"></script>
    <!-- https://github.com/supermedium/superframe/tree/master/components/render-order/ -->
    <script
        src="https://unpkg.com/aframe-render-order-component@1.1.0/dist/aframe-render-order-component.min.js"></script>
    <!-- https://github.com/supermedium/superframe/tree/master/components/proxy-event/ -->
    <script src="https://unpkg.com/aframe-proxy-event-component/dist/aframe-proxy-event-component.min.js"></script>
    <!-- https://github.com/supermedium/aframe-environment-component -->
    <script
        src="https://unpkg.com/aframe-environment-component@1.3.3/dist/aframe-environment-component.min.js"></script>
    <!-- https://github.com/supermedium/superframe/tree/master/components/orbit-controls/ -->
    <script src="https://unpkg.com/aframe-orbit-controls@1.3.2/dist/aframe-orbit-controls.min.js"></script>
    <!-- https://github.com/supermedium/superframe/tree/master/components/look-at/ -->
    <script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script>
    <!-- https://github.com/supermedium/superframe/tree/master/components/layout/ -->
    <script src="https://unpkg.com/aframe-layout-component@5.3.0/dist/aframe-layout-component.min.js"></script>
    <!-- https://github.com/supermedium/superframe/tree/master/components/event-set/ -->
    <script src="https://unpkg.com/aframe-event-set-component@5.0.0/dist/aframe-event-set-component.min.js"></script>
    <!-- https://github.com/supermedium/superframe/tree/master/components/geometry-merger/ -->
    <script
        src="https://unpkg.com/aframe-geometry-merger-component/dist/aframe-geometry-merger-component.min.js"></script>
    <!-- https://github.com/fernandojsg/aframe-slice9-component -->
    <script src="https://unpkg.com/aframe-slice9-component/dist/aframe-slice9-component.min.js"></script>

    <!-- https://github.com/networked-aframe/networked-aframe -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.5.0/socket.io.slim.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/open-easyrtc@2.0.20/api/easyrtc.min.js"></script>
    <script src="https://unpkg.com/networked-aframe@^0.12.3/dist/networked-aframe.min.js"></script>
    <!-- Voice call options for use with Networked Aframe -->
    <!-- https://github.com/open-easyrtc/open-easyrtc -->
    <script
        src="https://cdn.jsdelivr.net/npm/aframe-randomizer-components@3.0.2/dist/aframe-randomizer-components.min.js"></script>

    <!-- Link to CSS -->
    <link rel="stylesheet" href="index.css">

    <!-- Custom components -->
    <script src="src/components/template-looper.js"></script>
    <script src="src/shader/gradient.js"></script>
    <script src="src/components/spawn-in-circle.component.js"></script>
    <script src="src/components/raycaster-listen.js"></script>

    <script>
        // Called by Networked-Aframe when connected to server (optional)
        // (this api will change in future versions)
        function onConnect() {
            console.log('onConnect', new Date());
        }

        // Note the way we're establishing the NAF schema here; this is a bit awkward
        // because of a recent bug found in the original handling. This mitigates that bug for now,
        // until a refactor in the future that should fix the issue more cleanly.
        // see issue https://github.com/networked-aframe/networked-aframe/issues/267

        // This one is necessary, because tracking the .head child component's material's color
        // won't happen unless we tell NAF to keep it in sync, like here.
        NAF.schemas.getComponentsOriginal = NAF.schemas.getComponents;
        NAF.schemas.getComponents = (template) => {
            if (!NAF.schemas.hasTemplate('#avatar-template')) {
                NAF.schemas.add({
                    template: '#avatar-template',
                    components: [
                        // position and rotation are added by default if we don't include a template, but since
                        // we also want to sync the color, we need to specify a custom template; if we didn't
                        // include position and rotation in this custom template, they'd not be synced.
                        'position',
                        'rotation',

                        // this is how we sync a particular property of a particular component for a particular
                        // child element of template instances.
                        {
                            selector: '.head',
                            component: 'material',
                            property: 'color' // property is optional; if excluded, syncs everything in the component schema
                        }
                    ]
                });
            }
            const components = NAF.schemas.getComponentsOriginal(template);
            return components;
        };


        /* global AFRAME */
        AFRAME.registerComponent('info-panel', {
            init: function () {
                if (!this.el) return;

                this.infoPanel = this.el.querySelector('#infoPanel');
                this.onMouseEnter = this.onMouseEnter.bind(this);
                this.onMouseLeave = this.onMouseLeave.bind(this);
                this.el.addEventListener('mouseenter', this.onMouseEnter);
                this.el.addEventListener('mouseleave', this.onMouseLeave);
            },

            onMouseEnter: function (evt) {
                this.infoPanel.setAttribute('visible', true);
            },

            onMouseLeave: function (evt) {
                this.infoPanel.setAttribute('visible', false);
            },
        });

        AFRAME.registerComponent('polar-position-xz', {
            schema: {
                radius: { default: 10 },
                theta: { default: 0 },
                pos_y: { default: 0 }
            },
            update: function () {
                var data = this.data;
                var r = data.radius;
                var t = data.theta;
                var y = data.pos_y;
                this.el.setAttribute('position', {
                    x: -Math.sin(t * Math.PI / 180) * r,
                    y: y,
                    z: -Math.cos(t * Math.PI / 180) * r
                });
                this.el.setAttribute('rotation', {
                    x: 0,
                    y: t,
                    z: 0
                });

                console.log(this.el.getAttribute("id"), this.el.getAttribute('position'), this.el.getAttribute('rotation'));
            }
        });

        AFRAME.registerComponent('fetch-data', {
            schema: {
                idx: { default: 0 },
            },
            init: function () {
                if (this.data.idx >= Object.keys(stall_data).length) {
                    this.el.setAttribute('visible', false);
                    return;
                }

                let title = this.el.querySelector('#info-title');
                let graphic = this.el.querySelector('#info-png');
                let panel = this.el.querySelector('#infoPanel');
                let panel_title = panel.querySelector('#panel-title');
                let panel_desc = panel.querySelector('#panel-desc');

                title.setAttribute('text', {
                    value: stall_data['stall-' + this.data.idx]['title']
                });

                panel_title.setAttribute('text', {
                    value: stall_data['stall-' + this.data.idx]['title']
                });

                panel_desc.setAttribute('text', {
                    value: stall_data['stall-' + this.data.idx]['text-content'].join('\n')
                });
            }
        });

        AFRAME.registerComponent('carousel', {
            schema: {
                speed: { type: 'number', default: 0.1 },
            },
            tick: function (t, dt) {
                this.el.object3D.rotation.y += (dt / 1000) * this.data.speed;
            }
        });

        AFRAME.registerComponent('slide-side', {
            schema: {
                direction: { type: 'string', default: "left" },
            },
            update: function (oldData) {
                this.el.object3D.rotation.y += (this.data.direction === "left" ? 72 : -72);
            }
        });
    </script>
</head>

<body>
    <a-scene xr-mode-ui="enterVRButton: #vrButton" stats
        networked-scene="serverURL: http://localhost:8080/; app: dreamnest-app; room: local-test; debug: true; adapter: easyrtc; audio: true;"
        renderer="physicallyCorrectLights: true;">
        <a-assets>
            <a-entity template="src: src/assets.html; type: html"></a-entity>

            <!-- Templates -->
            <!-- Camera Rig / Player -->
            <template id="rig-template">
                <a-entity></a-entity>
            </template>

            <!-- Head / Avatar -->
            <!--      a few spheres make a head + eyes + pupils    -->
            <template id="avatar-template">
                <a-entity class="avatar">
                    <!-- notice this child sphere, with class .head, has the random-color component; this modifies the material component's color property -->
                    <a-sphere class="head" scale="0.2 0.22 0.2" random-color></a-sphere>
                    <a-entity class="face" position="0 0.05 0">
                        <a-sphere class="eye" color="white" position="0.06 0.05 -0.16" scale="0.04 0.04 0.04">
                            <a-sphere class="pupil" color="black" position="0 0 -1" scale="0.2 0.2 0.2"></a-sphere>
                        </a-sphere>
                        <a-sphere class="eye" color="white" position="-0.06 0.05 -0.16" scale="0.04 0.04 0.04">
                            <a-sphere class="pupil" color="black" position="0 0 -1" scale="0.2 0.2 0.2"></a-sphere>
                        </a-sphere>
                    </a-entity>
                </a-entity>
            </template>

            <script id="ground" type="text/x-nunjucks-template">
                <a-plane id="ground" class="clickable" position="0 -0.65 0" rotation="-90 0 0" width="30" height="30" mixin="gd_square_tiles"></a-plane>
                {% for x in range(-3, 3) %}
                    {% for z in range(-3, 3) %}
                        <a-entity template="src: src/templates/ground.template; type: handlebars"
                            data-compass="#compass" 
                            data-pos1="{{ x * 4 }} 0.05 {{ z * 4 - 4 }}"
                            data-pos2="{{ x * 4 }} 0.05 {{ z * 4 + 4 }}"
                            data-pos3="{{ x * 4 + 4 }} 0.05 {{ z * 4 }}"
                            data-pos4="{{ x * 4 - 4 }} 0.05 {{ z * 4 }}"
                            data-pos5="{{ x * 4 - 4 }} 0.05 {{ z * 4 - 4 }}"
                            data-pos6="{{ x * 4 -4 }} 0.05 {{ z * 4 + 4 }}"
                            data-pos7="{{ x * 4 + 4 }} 0.05 {{ z * 4 + 4}}"
                            data-pos8="{{ x * 4 + 4 }} 0.05 {{ z * 4 - 4 }}"></a-entity>
                    {% endfor %}
                {% endfor %}
            </script>
        
            <script id="slide1" type="text/html">
                <a-entity template="src: src/templates/slide-1.template; type: html"></a-entity>
            </script>
            <script id="slide2" type="text/html">
                <a-entity template="src: src/templates/slide-2.template; type: html"></a-entity>
            </script>
            <script id="slide3" type="text/html">
                <a-entity template="src: src/templates/slide-3.template; type: html"></a-entity>
            </script>
            <script id="slide4" type="text/html">
                <a-entity template="src: src/templates/slide-4.template; type: html"></a-entity>
            </script>
            <script id="slide5" type="text/html">
                <a-entity template="src: src/templates/slide-5.template; type: html"></a-entity>
            </script>

        </a-assets>

        <a-entity template="src: #ground"></a-entity>
        <!-- <a-entity id="currentScene" template="src: #lobby"></a-entity> -->
        <a-entity id="slideShow" template="src: #slide2" position="0 1.8 0"></a-entity>
            <!-- template-looper="interval: 10; list: #slide2, #slide3, #slide4, #slide5, #slide1">
        </a-entity> -->

        <!-- setup the general scene i.e. sky, lights, etc. -->
        <a-sky color="#ECECEC"></a-sky>
        <a-entity light="type: ambient; color: #BBB"></a-entity>
        <a-entity light="type: directional; color: #FFF; intensity: 0.6" position="0 10 0"></a-entity>

        <a-entity id="cameraRig" spawn-in-circle="radius:2" networked="template:#rig-template;">
            <a-entity id="player" camera position="0 1.6 0" look-controls="enabled: false;pointerLockEnabled: true"
                orbit-controls="autoRotate: false; initialPosition: 0 1.7 8; rotateSpeed: 0.5; minDistance: 0.5; maxDistance: 10"
                networked="template:#avatar-template;">
                <a-entity cursor
                    raycaster="objects: .clickable; far: 20; showLine: true; lineColor: lightgreen; lineWidth: 0.5"
                    position="0 0 -1" geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03;"
                    material="color: lightgreen; shader: flat;"></a-entity>

                <a-entity id="hud" geometry="primitive: plane; height: .1; width: 1" position="0 -0.5 -1"
                    material="color: lightgrey; opacity: 0.5" visible="false">
                    <a-entity text="value: test; color: black; align: center; width: 1; opacity: 1"></a-entity>
                </a-entity>
            </a-entity>
        </a-entity>


        <!-- <a-entity id="cameraRig" spawn-in-circle="radius:2" networked="template:#rig-template;">
            <a-entity id="player" camera position="0 1.6 0" look-controls networked="template:#avatar-template;">
                <a-entity cursor
                    raycaster="objects: .clickable; far: 20; showLine: true; lineColor: lightgreen; lineWidth: 0.5"
                    position="0 0 -1" geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03;"
                    material="color: lightgreen; shader: flat;"></a-entity>

                <a-entity id="hud" geometry="primitive: plane; height: .1; width: 1" position="0 -0.5 -1"
                    material="color: lightgrey; opacity: 0.5" visible="false">
                    <a-entity text="value: test; color: black; align: center; width: 1; opacity: 1"></a-entity>
                </a-entity>
            </a-entity>
        </a-entity> -->

        <!-- setup the controller rig -->
        <a-entity id="controllerRig">
            <a-entity id="mouseCursor" cursor="rayOrigin: mouse"></a-entity>
            <a-entity id="leftC" laser-controls="hand: left" raycaster="far: 20; lineColor: red; lineOpacity: 0.5; objects: .raycastable"></a-entity>
            <a-entity id="rightC" laser-controls="hand: right" raycaster="far: 20; lineColor: red; lineOpacity: 0.5; objects: .raycastable"></a-entity>
        </a-entity>

    </a-scene>
    <div id="vrButton" title="Enter VR / Fullscreen">
        <p>Click Here to Enter VR</p>
    </div>

</body>

</html>