<a-entity position="0 1.35 -5" rotation="0 0 0" gltf-model="#project-villa"></a-entity>
<a-box position="-15 1.5 0" rotation="0 90 0" mixin="wall_brick" width="30" height="2" depth="0.2"></a-box>
<a-box position="15 1.5 0" rotation="0 90 0" mixin="wall_brick" width="30" height="2" depth="0.2"></a-box>
<a-box position="0 1.5 -15" rotation="0 0 0" width="30" height="2" depth="0.2" mixin="wall_brick"></a-box>
<a-box position="-8 1.5 15" rotation="0 0 0" width="12" height="2" depth="0.2" mixin="wall_brick"></a-box>
<a-box position="8 1.5 15" rotation="0 0 0" width="12" height="2" depth="0.2" mixin="wall_brick"></a-box>
<a-entity position="0 2 14" rotation="0 0 0" scale=".2 .2 .2" gltf-model="#iron-gate"></a-entity>
<a-entity position="-15 5 -15" gltf-model="#flag-pole" animation-mixer></a-entity>
<a-entity position="15 5 -15" gltf-model="#flag-pole" animation-mixer></a-entity>
<a-entity position="-15 5 15" gltf-model="#flag-pole" animation-mixer></a-entity>
<a-entity position="15 5 15" gltf-model="#flag-pole" animation-mixer></a-entity>
<a-entity position="-15 5 0" gltf-model="#flag-pole" animation-mixer></a-entity>
<a-entity position="15 5 0" gltf-model="#flag-pole" animation-mixer></a-entity>
<a-entity position="0 5 -15" gltf-model="#flag-pole" animation-mixer></a-entity>