<a-entity position="0 -1.46 0" rotation="0 0 0" gltf-model="#unitB"></a-entity>
<a-entity position="-15 5 -15" gltf-model="#flag-pole" animation-mixer></a-entity>
<a-entity position="15 5 -15" gltf-model="#flag-pole" animation-mixer></a-entity>
<a-entity position="-15 5 15" gltf-model="#flag-pole" animation-mixer></a-entity>
<a-entity position="15 5 15" gltf-model="#flag-pole" animation-mixer></a-entity>
<a-entity position="-15 5 0" gltf-model="#flag-pole" animation-mixer></a-entity>
<a-entity position="15 5 0" gltf-model="#flag-pole" animation-mixer></a-entity>
<a-entity position="0 5 -15" gltf-model="#flag-pole" animation-mixer></a-entity>